html,
body,
#map {
    height: 100%;
}

body {
    margin: 0;
}

.custom-ctrl-zoom-to-fit .mapboxgl-ctrl-icon {
    background-image: url("../static/zoom-to-fit.svg");
    background-size: 78%;
}

@font-face {
    font-family: "Raleway";
    src: url("../static/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../static/RobotoMono-VariableFont_wght.ttf");
}
